* {
    margin: 0;
    box-sizing: border-box;

}

body {
    background-color: black;
    color: white;
    width: 100vw;
    /* padding-top: 10rem; */
}

.header {
    display: flex;
    position: fixed;
    background-color: black;
    width: 100vw;

}

.nav {
    display: flex;
    height: fit-content;

    justify-content: right;
    align-items: center;
    margin-top: 1rem;
    width: 85vw;

}

.logo {
    margin-top: 1rem;
    margin-left: 5px;
    width: 10vw;
}

.navItems {
    margin-left: 1rem;
    margin-top: 1rem;
    padding: 5px 5px 0px;
    height: fit-content;
    background-color: rgba(208, 144, 65, 0.756);
    border: 3px solid transparent;
    border-radius: 1rem;
    text-shadow: 0 0 2px rgb(202, 190, 182);
    width: fit-content;
    box-shadow: 0 0 10px yellow;

}

.sectionLink {
    text-decoration: none;
    color: rgb(19, 18, 18);
    font-size: 1.3rem;
    text-transform: capitalize;
    font-family: 'Times New Roman';

}

.navItems:hover {
    box-shadow: 0 0 10px yellow;
    background-color: goldenrod;
}

.searchBar {
    margin-left: 1rem;
    margin-top: 1rem;
    padding: 5px 5px 0px;
    height: fit-content;
    display: flex;
    /* background-color: rgba(248, 246, 243, 0.756); */

}

.search {
    /* background-color: rgba(240, 196, 129, 0.756); */
    background-color: rgba(190, 177, 161, 0.756);
    ;
    border: none;
    /* border-radius: 1rem; */
    color: black;
    font-size: 1.4rem;
    border-bottom-left-radius: 0.8rem;
    border-top-left-radius: 0.8rem;
    width: 25vw;
    height: 2rem;
}

.search::placeholder {
    color: rgb(76, 57, 57);
    padding-left: 0.5rem;
}


.button {
    background-color: rgba(111, 110, 108, 0.756);
    height: 1.rem;
    width: 2rem;
    border: none;
    border-bottom-right-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
}

.section {
    min-height: 100vh;
    box-sizing: border-box;
    /* overflow-x: hidden; */
    padding-left: 1rem;
    padding-top: 2rem;
}


#home {
    display: flex;
    flex-direction: column;
    padding-top: 0;
}

.myhome {
    display: flex;
    margin-top: 2rem;
    margin-right: 1rem;
}

.homeContent {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 1rem;
    padding-left: 1rem;

}

.mysvg {
    width: fit-content;
}

.name {
    color: goldenrod;
    font-size: 3.5rem;
    font-family: Verdana;
}

.more {
    font-size: 2rem;
}

.description {
    padding-bottom: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 1rem;
}

.Link {
    text-decoration: none;
    color: rgb(19, 18, 18);
    font-size: 1.5rem;
    text-transform: capitalize;
    font-family: 'Times New Roman';
    text-shadow: 0 0 1px rgb(223, 170, 25);
}

.fp {
    background-color: rgb(154, 116, 20);
    box-shadow: 0 0 10px yellow;
    border: 1px solid transparent;
    border-radius: 1rem;
    width: fit-content;
    text-align: center;
    padding: 0.5rem;
    margin-top: 1rem;
}

::-webkit-scrollbar {
    width: 0.2rem;
}

@keyframes music1 {
    from {
        transform: rotate(4deg);
    }

    to {
        transform: rotate(-2deg);
    }
}

#music1 {
    animation: music1 3s linear 0s infinite alternate;
}

@keyframes music2 {
    from {
        transform: rotate(-3deg);
    }

    to {
        transform: rotate(2deg);
    }
}

#music2 {
    animation: music2 3s linear 0s infinite alternate;
}

@keyframes music3 {
    from {
        transform: rotate(-2deg);
    }

    to {
        transform: rotate(5deg);
    }
}

#music3 {
    animation: music3 3s linear 0s infinite alternate;
}

@keyframes music4 {
    from {
        transform: rotate(1deg);
    }

    to {
        transform: rotate(-3deg);
    }
}

#music4 {
    animation: music4 3s linear 0s infinite alternate;
}

@keyframes music5 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(5deg);
    }
}

#music5 {
    animation: music5 3s linear 0s infinite alternate;
}

@keyframes music6 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(4deg);
    }
}

#music6 {
    animation: music6 3s linear 0s infinite alternate;
}



.headerAlt {
    display: none;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    /* position: relative; */
    display: inline-block;
    margin-top: 1rem;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    /* position: absolute; */
    background-color: #f9f9f9;
    min-width: 10rem;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 1rem 1rem;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #df920e;
}


@media only screen and (max-width: 800px) {
    .headerAlt {
        display: flex;
        justify-content: space-around;
    }

    .header {
        display: none;
    }

    .myhome {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .mysvg {
        width: 90vw;
    }
}

.section {
    padding-top: 5.5rem;
}

.title {
    /* background-color: rgb(228, 160, 70); */
    display: flex;
    /* justify-content: space-around; */
    /* border-top: 4px solid rgb(143, 115, 3);
    border-left: 4px solid rgb(143, 115, 3); */
    width: auto;
    box-shadow: 0.5rem 0.2rem 1rem rgb(40, 39, 35);
    color: #4c3206;
    height: 14rem;
    align-items: center;
    gap: 1rem;
}

.sectionHeading {
    font-size: 5rem;
    /* text-align: center; */
    color: #dba240;

}

.subtitle {
    text-align: right;
    font-size: 2.5rem;
    color: #c09e64;
}

#featuredPlaylists {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.playlists {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3rem;
    padding-top: 2rem;
    /* padding-left: 1rem; */
}

.cards {
    background-color: rgb(1, 1, 40);
    border-radius: 0.5rem;
    height: 30rem;
    width: 20rem;
    box-shadow: 0 0 10px rgb(65, 65, 61);
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* padding-top: 1rem; */
    /* position: static; */
}

.image {
    background-image: url(./images/playlist.png);
    object-fit: cover;
    height: 14rem;
    width: 14rem;
    /* border-radius:0.5rem ; */
    box-shadow: 0.5rem 0.2rem 1rem rgb(31, 30, 26);

}

.expln {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.photo {
    height: 24rem;
    width: 20rem;
    font-size: 1.2rem;
    text-align: right;
    color: #e0ceaf;
}

#arijit {
    background-image: url(./images/img1.jpeg);
    background-position: center;
    background-size: cover;
}

#shreya {
    background-image: url(./images/img2.jpg);
    background-position: center;
    background-size: cover;
}

#sonu {
    background-image: url(./images/img4.jpg);
    background-position: center;
    background-size: cover;
}

#sunidhi {
    background-image: url(./images/img5.jpg);
    background-position: center;
    background-size: cover;
}

#armaan {
    background-image: url(./images/img3.jpg);
    background-position: center;
    background-size: cover;
}

.artist {
    font-size: 2.2rem;
    text-align: left;
    color: #cec5f4;
    text-shadow: 0 0 4px rgb(214, 205, 221);
}

.details {
    font-size: 1.2rem;
    text-align: left;
    color: #edecf1;
    text-transform: capitalize;
}

#happy {
    background-image: url(./images/happy.jpeg);
    background-position: center;
    background-size: cover;
}

#indie {
    background-image: url(./images/indie.jpg);
    background-position: center;
    background-size: cover;
}

#pop {
    background-image: url(./images/pop.jpg);
    background-position: center;
    background-size: cover;
}

#bollywood {
    background-image: url(./images/bollywood.jpg);
    background-position: center;
    background-size: cover;
}

#love {
    background-image: url(./images/love.jpeg);
    background-position: center;
    background-size: cover;
}

.genre {
    font-size: 2.2rem;
    text-align: left;
    color: #cec5f4;
    text-shadow: 0 0 4px rgb(214, 205, 221);
}

.cards2 {
    background-color: rgb(1, 1, 40);
    border-radius: 0.5rem;

    width: 20rem;
    box-shadow: 0 0 10px rgb(65, 65, 61);
    display: flex;
    flex-direction: column;
    height: 28rem;
    align-items: center;
    border-radius: 1rem;

}

.cards2:hover {
    transform: scale(1.05);
    box-shadow: 0 0 1rem rgb(180, 184, 230);
    height: 31rem;

}

.knowMore {
    display: none;
    background-color: #7f75ad;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    border: 2px solid rgb(238, 223, 223);
    font-size: 1.2rem;
}

.cards2:hover .knowMore {
    display: inline;

}

.cards3 {
    background-color: rgba(5, 5, 29, 0.66);
    
    border-radius: 0.5rem;

    width: 20rem;
    box-shadow: 0 0 10px rgb(65, 65, 61);
    display: flex;
    flex-direction: column;
    height: 34rem;
    align-items: center;
    border-radius: 1rem;
}

.review {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3rem;
    padding-top: 2rem;
}

#user1 {
    background-image: url(./images/user1.jpeg);
    background-position: center;
    background-size: cover;
}
#user2 {
    background-image: url(./images/user2.jpg);
    background-position: center;
    background-size: cover;
}
.title2 {
    width: auto;
    box-shadow: 0.5rem 0.2rem 1rem rgb(40, 39, 35);
    color: #4c3206;
    height: 10rem;
    align-items: center;
    gap: 1rem;
}
#form{
    width: 99vw;
    text-align: left;
    height: fit-content;
    background-color: rgba(10, 7, 36, 0.775);
    margin: auto;
    margin-top: 2rem;
    padding-bottom: 1rem;
    color: #df920e;
}
.reviewForm{
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    
    
}
.input{
    display: block;
    text-align: left;
}
#username{
    width: 30vw;
    height: 1.7rem;
    background-color: #dba240;
    font-size: 1.2rem;
}
#email{
    width: 20vw;
    height: 1.7rem;
    background-color: #dba240;
}
#review{
    width: 30vw;
    height: 2.5rem;
    background-color: #dba240;
}
#review::placeholder{
    color: rgba(0, 0, 0, 0.54);
    font-size: 1.3rem;
}
#username::placeholder{
    color: rgba(0, 0, 0, 0.54);
    font-size: 1.3rem;
}
#email::placeholder{
    color: rgba(0, 0, 0, 0.54);
    font-size: 1.3rem;
}
#submit
{
    background-color: rgb(13, 13, 63);
    color: #f1f1f1;
    /* padding: 0.5rem; */
    border: 1px solid black;
    border-radius: 0.5rem;
    height: 2rem;
    width: 5rem; 
    font-size: 1.3rem;
    
}
.footer{
    display: flex;
    flex-direction:row ;
    justify-content: flex-end;
    margin-top: 1.5rem;
    background-color: rgb(37, 33, 33);
    padding-top: 1rem;
    padding-bottom: 1rem;
    gap: 2rem;
    padding-right: 1rem;

}
ul{
    list-style-type: none;
}
.list{
    color: #787474;
}
.list:hover{
    color: white;
}
.icons{
    display: flex;
    flex-direction:row ;
    background-color: rgb(37, 33, 33);
    padding-top: 1rem;
    padding-bottom: 1rem;
    gap: 1rem;
    padding-left: 1rem;
}
.back{
    text-decoration: none;
    display: inline;
    margin-left: 2rem;
    color: white;
    font-size: 1.5rem;
    border: 1px solid white;
}
